configuration {
    show-icons: true;
    icon-theme: "Hybrid";
    terminal: "alacritty";
    cycle: true;
    hide-scrollbar: true;
    disable-history: false;
    modi: "window,run,file-browser";
}

@import "everforest-theme"
