configuration {
    show-icons: true;
    icon-theme: "Oxygen_Yellow";
    terminal: "kitty";
    cycle: true;
    hide-scrollbar: true;
    disable-history: false;
    modi: "window,run,filebrowser";
}

@import "gruvbox.rasi"
